@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@media print {
    body {
        width: 21cm;
        height: 29.7cm;
        margin: 1px
    }
}

#bloc_page {
    font-family: 'Titillium Web', sans-serif;
    width: 800px;
    height: auto;
    display: flex;
    margin: 50px auto;
    border-style: solid;
    border-width: 1px;
}

aside {
    max-width: 280px;
    background-color: #feca07;
}

.logo {
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 75px;
    border: #212121 solid;
    display: inline-block;
}

h2 {
    text-transform: uppercase;
}

h3 {
    text-align: center;
    color: #feca07;
    font-size: 1.2em;
    background-color: #212121;
}

section {
    text-align: justify;
}

h1 {
    font-size: xx-large;
}

h1 strong {
    color: #feca07;
}

.logo_2 {
    color: #feca07;
    width: 30px;
    height: 30px;
}

.photodejohn {
    display: block;
    margin: auto;
    margin-top: 8px;
    width: 130px;
    height: 130px;
    border-radius: 75px;
}

.aside_2 {
    margin-bottom: 25em;
}

.aside_2 p {
    text-align: justify;
    margin: 2em;
    font-size: small;
}

.aside_photo {
    margin: 2em;
}

.aside_contact p {
    margin: 2em;
    font-size: small;
}

.logo_loisir {
    display: flex;
    align-items: center;
}

.cotedroit {
    font-size: small;
}

.alignement {
    display: flex;
}

.section_2 {
    margin: 35px;
}

section h2 {
    border-bottom: #feca07 solid 1.2px;
}
