@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
#bloc_page {
    font-family: 'Titillium Web', sans-serif;
    width: 850px;
    height: auto;
    display: flex;
    margin: auto;
}

aside {
    max-width: 280px;
    background-color: #feca07;
}

aside .fas {
    border-radius: 100%;
    border: #212121 solid;
    display: inline-block;
}

h2 {
    text-transform: uppercase;
}

h3 {
    text-align: center;
    color: #feca07;
    font-size: 1.2em;
    background-color: #424242;
}

section {
    text-align: justify;
}

h1 span {
    font-size: 3em;
}

h1 {
    font-size: initial;
}

h1 strong {
    color: #feca07;
}

.photodejohn {
    display: block;
    margin: auto;
    margin-top: 8px;
    width: 130px;
    height: 130px;
    border-radius: 75px;
    box-shadow: 1px 1px 20px #555;
}

.photodejohn2 {
    display: none;
}

.aside_2 {
    margin-bottom: 12em;
}

.aside_2 p {
    text-align: justify;
    margin: 3em;
    font-size: small;
}

.aside_photo {
    margin: 2em;
}

.aside_contact p {
    font-size: small;
    line-height: 15px;
}

aside strong {
    font-weight: bold;
}

.logo_loisir {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.cotedroit {
    font-size: small;
}

.contenant1 {
    display: flex;
}

.section_2 {
    margin: 35px;
}

section h2 {
    border-bottom: #feca07 solid 1.2px;
}

header {
    margin: 35px;
    margin-bottom: 4em;
}

.span_titre {
    font-size: unset;
    border-bottom: #feca07 solid 1.4px;
}

.contenantdroit {
    width: 70%;
}

.contenantgauche {
    width: 30%;
}

.contenantgauche span {
    color: #feca07;
    font-weight: bold;
}

.recommand {
    align-items: center;
}

.recommand p {
    text-align: center;
}

.section_2 strong {
    font-weight: bold;
}

.form_style {
    font-style: italic;
}

.aside_contact {
    margin: 3em;
}

.section_2 .fas {
    margin-right: 25px;
}

.cotedroit .fas {
    color: #feca07;
}

@media screen and (max-width: 1024px) {
    #bloc_page {
        display: flex;
        flex-direction: column;
        width: auto;
    }
    aside {
        max-width: 100%;
    }
    .cotegauche {
        width: auto;
        display: flex;
        flex-direction: column;
    }
    header {
        display: flex;
        justify-content: space-between;
    }
    .aside_2 {
        margin-bottom: unset;
    }
    .aside_contact p {
        font-size: 18px;
        line-height: 25px;
    }
    .aside_2 p {
        font-size: 16px;
    }
    h2 {
        white-space: nowrap
    }
    .section_2 .fas {
        margin-right: 5px;
    }
    @media screen and (max-width: 325px) {
        .section_2 .fas {
            display: none;
        }
    }
    @media print {
        @page {
            margin: 1cm;
        }
    }
}