@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
#bloc_page {
    font-family: 'Titillium Web', sans-serif;
    width: 850px;
    height: auto;
    display: flex;
    margin: auto;
}

aside {
    max-width: 280px;
    background-color: #feca07;
}

.logo {
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 75px;
    border: #212121 solid;
    display: inline-block;
}

h2 {
    text-transform: uppercase;
}

h3 {
    text-align: center;
    color: #feca07;
    font-size: 1.2em;
    background-color: #424242;
}

section {
    text-align: justify;
}

h1 span {
    font-size: 3em;
}

h1 {
    font-size: initial;
}

h1 strong {
    color: #feca07;
}

.logo_2 {
    color: #feca07;
    width: 30px;
    height: 30px;
}

.photodejohn {
    display: block;
    margin: auto;
    margin-top: 8px;
    width: 130px;
    height: 130px;
    border-radius: 75px;
    box-shadow: 1px 1px 20px #555;
}

.photodejohn2 {
    display: none;
}

.aside_2 {
    margin-bottom: 12em;
}

.aside_2 p {
    text-align: justify;
    margin: 3em;
    font-size: small;
}

.aside_photo {
    margin: 2em;
}

.aside_contact p {
    font-size: small;
    line-height: 15px;
}

aside strong {
    font-weight: bold;
}

.logo_loisir {
    display: flex;
    justify-content: space-around;
}

.cotedroit {
    font-size: small;
}

.contenant1 {
    display: flex;
}

.section_2 {
    margin: 35px;
}

section h2 {
    border-bottom: #feca07 solid 1.2px;
}

header {
    margin: 35px;
    margin-bottom: 4em;
}

.span_titre {
    font-size: unset;
    border-bottom: #feca07 solid 1.4px;
}

.contenantdroit {
    width: 70%;
}

.contenantgauche {
    width: 30%;
}

.recommand {
    align-items: center;
}

.recommand p {
    text-align: center;
}

li {
    color: #feca07;
    font-weight: bold;
}

.section_2 strong {
    font-weight: bold;
}

.form_style {
    font-style: italic;
}

.aside_contact {
    margin: 3em;
}

.logo_2 {
    margin-right: 25px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #bloc_page {
        display: flex;
        flex-direction: column-reverse;
        width: auto;
    }
    aside {
        display: flex;
        justify-content: space-around;
        max-width: 100%;
    }
    .aside_2 {
        margin-bottom: unset;
    }
    .aside_2 p {
        font-size: 17px;
    }
    .aside_3 {
        width: 35em;
    }
    .aside_contact p {
        font-size: 15px;
    }
    .photodejohn2 {
        display: block;
        margin: auto;
        margin-top: 8px;
        width: 130px;
        height: 130px;
        border-radius: 75px;
        box-shadow: 1px 1px 20px #555;
    }
    header {
        display: flex;
        justify-content: space-between;
    }
    .logo_loisir {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aside_photo {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    #bloc_page {
        display: flex;
        flex-direction: column-reverse;
        width: auto;
    }
    aside {
        max-width: 100%;
    }
    .cotegauche {
        width: auto;
        display: flex;
        flex-direction: column;
    }
    .photodejohn2 {
        display: block;
        margin: auto;
        margin-top: 8px;
        width: 130px;
        height: 130px;
        border-radius: 75px;
        box-shadow: 1px 1px 20px #555;
    }
    .aside_photo {
        display: none;
    }
    header {
        display: flex;
        justify-content: space-between;
    }
    .aside_2 {
        margin-bottom: unset;
    }
    .aside_contact p {
        font-size: 18px;
        line-height: 25px;
    }
    .aside_2 p {
        font-size: 16px;
    }
}

@media print {
    @page {
        margin: 1cm;
    }
}